/*
Modelo caixa
*/
/*
.conteudo {
	border: 2px solid red;
	width: 120px;
	padding: 20px;
	margin: 20px
}
*/

.noticia {
	background: #f1f1f1;
	border: 1px solid gray;
	padding: 10px;
}
h2 {
	margin: 0px;
}