
/*
body {
	font-family: Arial, Helvetica, sans-serif;
}
/*

/*Formatação em todos os seletores*/
/*
*{
	border: 1px solid red;
}
*/

/*Seletor de classe*/
/*
p.red {
	color: red;
}
*/


/*seletor de filho| li > a = li filho de a*/
/*
li>a {
	text-decoration: none;
}
*/


/*Seletor de elemento adjacente*/
/*
h1+p {

}
*/


/*Seletor de irmão de geral*/
/*
h1~p{
	color: red;
}

p {
	color: red !important;
}

p {
	color: blue;
}
*/

/*BARRA VERTICAL*/

/*
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	padding:5px 20px;
	border: 1px solid red;
	background: url(_imagens/seta.png) no-repeat left center;
}
*/

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a{
	display: block;
	width: 200px;
	height: 40px;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(_imagens/menu.png) no-repeat right;
	transition: 0.5s;
}

ul a:hover {
	background-position: left;
	color: #fff;
}